*{
 margin: 0px;
}
body{
    overflow-x: hidden;
}
.root-container{
    width: 100vw;
    display: flex;
    height: 100%;
    position: relative;
}
.section_1{
    width: 50%;
    height: 100vh;
    position: static;
transform-style: preserve-3d;
will-change: transform;
}
.section_2{
    right: 0;
    width: 50%;
    height: 100vh;
    position: fixed;
    transform-style: preserve-3d;
    will-change: transform;
}
.background1{
    width: 100%;
    height: 100%;
    background-image: url(./assets/orange.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.background2 {
    width: 100%;
    height: 100%;
    background-image: url(./assets/guvava.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.background3 {
        width: 100%;
        height: 100%;
        background-image: url(./assets/lemonf.jpg);
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
}
.decription_text{
    position: relative;
    color: #fff;
}
.details{
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    width: 100%;
    padding-bottom: 60px;
    padding-left: 60px;
   
}
a{
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    color: #bdbdbd;
    font-size: 37px;
    line-height: 40px;
    text-decoration: none;
}
.link-block {
    -webkit-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
    color: #fff;
    text-decoration: none;
}
.text-ani{
    width: 30vw;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 3vw;
    line-height: 3.5vw;
    font-weight: 300;
}
.decription_image {
    position: relative;
}
.image1{
    background-color: #d86b10;
    display: flex;
    justify-content:center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
.image2{
    background-color:#566d25;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
.image3 {
    background-color: #273546;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
.image_text{
    z-index: 0;
    font-family: "Poppins", sans-serif;
    color: hsla(0, 0%, 100%, 0.1);
    font-size: 18vw;
    line-height: 180px;
}
img{
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.icon{
    position: absolute;
    z-index: 999;
    margin-top: 60px;
    margin-left: 60px;
    width: 60px;
}
.sub-title{
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
}
.text-ani{
    width: 30vw;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 3vw;
    line-height: 3.5vw;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
}
.text-ani2 {
    width: 30vw;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 3vw;
    line-height: 3.5vw;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
}
.arrow-left{
    width: 20px;
    margin-top: 10px;
         
}

.text-ani span {
    opacity: 0;
    transform: translateY(50px);
    /* Initial position below */
    display: inline-block;
    /* Make spans behave like blocks */
    transition: opacity 0.5s ease, transform 0.5s ease;
    /* Transition for opacity and transform */
}
.image_front.animate  {
    opacity: 1;
    transform: translateY(0);
    /* Move to the initial position */
}
.text-ani.animate * {
    opacity: 1;
    transform: translateY(0);
    /* Move to the initial position */
}
.image_front {
    width: 150px;
    position: absolute;
    z-index: 2;
    display: block;
    opacity: 0;
    transform-origin: bottom center;
    transform: translateY(70px);
    transition: opacity 0.5s ease, transform 0.7s ease;
}

.image_back {
    width: 150px;
    position: absolute;
    z-index: 2;
    display: block;
    opacity:0 ;
    transform-origin: bottom center;
}

.image_back.bottleIn {
    animation: rightToLeft 0.5s ease forwards;
}

.image_front.bottleOut {
    animation: leftToRight 0.5s ease forwards;
}

@keyframes leftToRight {
    0% {
        transform: rotate(5deg);
        opacity: 1;
    }

    30% {
        transform: rotate(20deg);
    }

    60% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-50deg);
        opacity: 0;
    }
}
@keyframes rightToLeft {
    0% {
        transform: rotate(50deg);
        opacity: 0.3;
    }

    40% {
        transform: rotate(20deg);
        opacity: 0.6;
    }

    70% {
        transform: rotate(-10deg);
        opacity: 0.8;
    }

    100% {
        transform: rotate(0deg);
        opacity: 1;
    }
}

   .menu-btn-5 {
        position: fixed;
        left: auto;
        top: 0%;
        right: 0%;
        bottom: auto;
        z-index: 999;
        width: 30px;
        height: 30px;
        margin-top: 80px;
        margin-right: 60px;
        cursor: pointer;
   }

 .menu-btn-5 span:nth-child(1),
 .menu-btn-5 span:nth-child(1)::after {
     background: #fff;
     content: '';
     position: absolute;
     width: 30px;
     height: 2px;
     margin-top: 13px;
     -webkit-transition: .3s ease-in-out;
     -moz-transition: .3s ease-in-out;
     -o-transition: .3s ease-in-out;
     transition: .3s ease-in-out;
 }

 .menu-btn-5 span:nth-child(1)::before {
     margin-top: -12px;

     -webkit-transition: .3s ease-in-out .3s;
     -moz-transition: .3s ease-in-out .3s;
     -o-transition: .3s ease-in-out .3s;
     transition: .3s ease-in-out .3s;
 }

 .menu-btn-5 span:nth-child(1)::after {
     margin-top: 12px;

     -webkit-transition: .3s ease-in-out .3s;
     -moz-transition: .3s ease-in-out .3s;
     -o-transition: .3s ease-in-out .3s;
     transition: .3s ease-in-out .3s;
 }

 .menu-btn-5 span:nth-child(2) {
    background: #fff;
     content: '';
     position: absolute;
     width: 0px;
     height: 2px;
     margin-top: 13px;

     -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
     -o-transform: rotate(-45deg);
     transform: rotate(-45deg);

     -webkit-transition: .3s ease-in-out;
     -moz-transition: .3s ease-in-out;
     -o-transition: .3s ease-in-out;
     transition: .3s ease-in-out;
 }

 .menu-btn-5.active span:nth-child(1)::before,
 .menu-btn-5.active span:nth-child(1)::after {
     margin-top: 0;
 }

 .menu-btn-5.active span:nth-child(1) {
     -webkit-transition: .5s ease-in-out .6s;
     -moz-transition: .5s ease-in-out .6s;
     -o-transition: .5s ease-in-out .6s;
     transition: .5s ease-in-out .5s;

     -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
     -o-transform: rotate(45deg);
     transform: rotate(45deg);
 }

 .menu-btn-5.active span:nth-child(2) {
     width: 30px;

     -webkit-transition: .3s ease-in-out .8s;
     -moz-transition: .3s ease-in-out .8s;
     -o-transition: .3s ease-in-out .8s;
     transition: .3s ease-in-out .8s;
 }